/* ====================
BACKGROUNDS
====================== */
#content {
  background:url(../images/tile_BG.jpg);
}
#secondary {
  background:url(../images/SG17_Sidebar_tile.jpg);
  padding-right: 0;
  margin-top:-20px;
}
#secondary:before {
    content: '';
    background: url(../images/SG17_Sidebar_top.jpg) 0 0 repeat-x;
    height: 160px;
    display: block;
}
#secondary:after {
    content: '';
    background: url(../images/SG17_Sidebar_bottom.jpg) 0 0 no-repeat;
    background-size:contain;
    height: 500px;
    display: block;
}
#secondary > div {
  padding:0 1.5rem;
  margin-top:2rem;
}
@media only screen and (max-width: 767px) {
  #secondary {
    padding-top:2rem;
    margin-left:-20px;
    margin-right:-10px;
  }
  #secondary:after {
    content: '';
    background: url(../images/SG17_Sidebar_bottom768.jpg) 0 0 no-repeat;
    background-size:contain;
    height: 500px;
    display: block;
}
}

/* ====================
TYPOGRAPHY
====================== */
h1,h2,h3,h4 {
  font-family:'Jura', sans-serif;
  line-height: 1;
}
h1 {
  font-size:4rem;
}
h2 {
  font-size:3.3rem;
}
#primary a {
  color:#E38A08;
}
blockquote {
    background: none repeat scroll 0 0 rgba(241, 241, 241, 0.5);
    border-radius: 0 4px 4px 0;
    border-left: 5px solid #ea474b;
    color: #505050;
    font-style: italic;
    padding: 22px 20px 1px;
    margin: 0 0 1em;
}
blockquote p {
    line-height: 1.6;
    color: #505050;
}
.widget-title h2{
  font-size:2.5rem;
  line-height:1;
  letter-spacing: -1px;
}
a:hover, a:focus, a:active {
  color: #c17910!important;
}
.centered {
  margin:0 auto;
  float:none;
}
#content {
  min-height:600px;
}
.site-content {
    background: #fafafa;
}

.site-header{
  position:relative;
  z-index: 0;
}
.sticky-menu {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}
.site-branding {
    float: left;
    width: auto;
    max-width: 100px;
    margin-left: 2rem;
}
/*.site-content p,
.site-content ul{
  color:#8c9398;
}*/

/* ==========================================================================
   NAVIGATION
   ========================================================================== */
   
.dropdown:active,
.dropdown:hover {
  border :none;
}
#navigation-container{
  background: #ffffff;
  padding:0.2em 0;
}

.top-bar {
  padding:0;
  background: #ffffff;
  color: #183d51;
}
.top-bar ul.menu:hover,
.top-bar ul.menu:active{
  background:#f0f0f0;
}
.top-bar .site-logo a{
  line-height: 3;
}
.top-bar .top-bar-right {
    width:auto!important;
}
.top-bar .menu > .menu-button{
  padding:5px;
}
.top-bar .menu > .menu-button >a {
  padding: 1px 6px;
  display:inline-block;
}
.top-bar .menu > .menu-button >a > i{
  padding-left: 5px;
}
.top-bar .top-bar-section ul {background-color :#ffffff!important;}
.menu>li>a i{
    vertical-align: baseline;
}

ul.menu.submenu.is-dropdown-submenu.first-sub.vertical {
    background: white;
}
@media only screen and (min-width: 1390px) {
    .mobile-only {
        display: none!important
    }
    
}
@media only screen and (max-width: 1400px){
    .show-for-large {
        display: none!important       
    }
    .top-bar ul.menu li.menu-button{
      display:block;
    }
}
@media only screen and (max-width: 1400px){
  .top-bar ul.menu {
    background:transparent;
    border:1px solid #d9d9d9;
    margin-right:2rem;
    display:block;
  }
  .top-bar ul.menu li>a {
    line-height: 2;
  }
}
.top-bar-section {
    left: 0;
    position: relative;
    width: auto;
    padding-top:10px;   
}
@media only screen and (min-width: 1500px) {
.top-bar-section {
    margin-right:3rem;
    }
}

.top-bar .top-bar-section ul li > a{
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size:0.9em;
    text-transform: uppercase;
    -webkit-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
    color:#333;
}
.top-bar .top-bar-section ul li > a:after{
  margin-top:-5px!important;
}
.top-bar ul.menu.submenu {
  margin-top:5px;
}
.top-bar ul.menu.submenu > li > a {
  line-height: 1.2;
}

 .top-bar .top-bar-section ul li {
    background: #ffffff;
}
 .top-bar .top-bar-section ul li > a{
    color: #183d51;
    padding-right:25px!important;
    font-family: 'Khand','helvetica neue',helvetica,sans-serif;
    font-size: 1.8rem;
}

.top-bar ul.menu:hover,
.top-bar ul.menu:active{
  background:#f0f0f0;
}
.top-bar .top-bar-right {
    width:auto!important;
}
  
.top-bar .top-bar-section li a {
    color: #183d51;
    background: #ffffff;
}
 .top-bar .top-bar-section li a:hover {
    color: #183d51;
    background-color: #efefef;
    background: #efefef;
}

/* OFF-CANVAS MENU */   

.off-canvas{
  background:#f6f6f6;
}

.off-canvas .is-accordion-submenu-parent>a:after{
  border-color: #515151 transparent transparent;
}
.off-canvas .menu>li {
  border-bottom:1px solid white;
  overflow:hidden;
}
.off-canvas .menu>li > ul > li:hover,
.off-canvas .menu>li > ul > li:active{
  background:#ececec;
}
.off-canvas .menu>li > ul > li{
  border-bottom:none;
  border-top:1px solid white;
}
.off-canvas .menu>li > a{
  text-transform: uppercase!important;
  color:#333;
  line-height:1.2;
  padding: 1.2rem 0 1.2rem 1rem;
  margin-right:40px;
}
.off-canvas .menu > li > ul > li > a {
  margin-right:0;
  padding-left:2rem;
}

.off-canvas .is-accordion-submenu li a {
  padding-left:1.4rem;
}
.off-canvas .menu .active>a {
  background:transparent;
}
.off-canvas li.current-menu-item {
  background:#e6e6e6;
}
.off-canvas li.current-menu-item > ul > li {
  background:transparent;
}
.side-nav-toggle {
  cursor:pointer;
  float:right;
  background:#eeeeee;
}
.side-nav-toggle > i {
  font-size: 2.5rem;
    line-height: 1.6;
    color: #959595;
    padding: 0 1.1rem;
}

.off-canvas li > .vertical.menu {
  display:none;
}
.rotate-180 {
  -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


/* ============================= */

.search .entry-header .entry-title{
    font-size: 25px;
    line-height: 1.3;
    text-align: center;
}
.search .entry-header {
    background: transparent;
    padding: 0.5em;
}
.search .entry-header h1.entry-title a {
  color:#183d51;
  text-transform:uppercase;
  text-decoration: underline;
}
.search-form-wrapper {
  margin:2rem 0;
}
.search-form-wrapper .search-form {
  display:flex;
}
.search-form-wrapper .search-form label {
  flex:3;
  margin-right:1.5em;
}
.search-form-wrapper .search-form input {
  padding:10px 0 10px 10px;
  height:auto;
  margin:0;
}
.search-form-wrapper .search-form .search-submit {
  flex:1;
  padding:0;
  line-height: 1;
}

/*================================*/
.paging-navigation .nav-previous, 
.post-navigation .nav-previous,
.paging-navigation .nav-next, 
.post-navigation .nav-next{
  background:#565656;
  padding: 1em 20px 1em;
}

#secondary input[type="search"] {
padding: 5px;
max-width: 250px;
font-size:1.1em;
display:inline-block;
}
input[type="search"] {
font-size:16px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 2px solid;
  border-color: #565656;
  border-radius: 4px;
  background: #565656;
  box-shadow: none;
  color: #ffffff !important; 
  cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 15px;
  line-height: 2;
  font-weight: 600;
  padding: 0;
  text-shadow: none;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #565656;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #565656;
}
/* FOOTER */
.dummy-footer {
    position: relative;
    z-index: -2;
}
.footer.slide-out {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
.footer-content{
  background:#49447d;
}
.footer-content a,
.footer-content p{
  color:#fff;
}
.footer-content a{
  text-decoration: underline;
}
.footer-content {
  padding-bottom:1.5rem;
}
.footer-item p {
  margin-bottom:0.5rem;
}

@media only screen and (min-width: 767px) {

  .footer-items {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .footer-item{
  min-width: 30%;
  text-align: center;
  }
  .footer-item.first{
    text-align: left;
  }
  .footer-item.last{
    text-align: right;
  }
}

/* SIDEBAR AND WIDGETS */

.simple-section-nav li {
  padding:4px 0;
}

.simple-section-nav li:before{
  font-family: FontAwesome;
    content: '\f054';
    width: 17px;
    display: block;
    font-size: 15px;
    color: #42ac94;
    float: left;
}
.simple-section-nav a{
  font-family: 'Khand','helvetica neue',helvetica,sans-serif;
    font-size: 1.85rem;
    line-height: 1.2;
    display: block;
    margin-left:17px;
}
#secondary button, input[type="button"], 
input[type="reset"], input[type="submit"] {
    font-family: 'Khand','helvetica neue',helvetica,sans-serif;
    letter-spacing: 1px;
    padding: 2px 7px;
}

/* HOMEPAGE */
.home-content {
  text-align:left;
}
.hero-home {
  display: block;
  margin-bottom: 2em;
  font-size: 1.3em;
  text-align: center
}
